---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import { getFilms } from '../../../backend/backend.mjs';

const films = await getFilms();
console.log(films);

---

<Layout titre="Films">
    <div class="container mx-auto px-4">
        <h1 class="text-5xl font-bold text-center mb-8 uppercase">Film</h1>
            <div 
                x-bind:class="view === 'grid' ? 'grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-6' : 'flex flex-col space-y-4 w-full max-w-3xl'"
                class="w-full">
                {films && films.map((film) => (
                    <Card {...film} />
                ))}
            </div>
    </div>
</Layout>
