---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import { getFilms } from '../../../backend/backend.mjs';

const films = await getFilms();
---

<Layout titre="Films">
    <div class="container mx-auto px-4 mb-10 flex flex-col items-center">
        <h1 class="text-5xl font-sans text-center mb-8 uppercase">Votre programme cinéma </h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 justify-center">
            {films && films.map((film) => (
                <Card {...film} />
            ))}
        </div>
    </div>    
</Layout>
