---
import Layout from '../layouts/Layout.astro';
---

<Layout titre="Infos Pratiques">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-5xl font-bold text-center mb-8 uppercase">Infos Pratiques</h1>
        
        <section class="mb-8 flex flex-col items-center">
            <h2 class="text-3xl font-bold mb-4">Tarifs</h2>
            <p>Billet individuel : 10€</p>
            <p>Réductions pour étudiants et enfants</p>
        </section>
        
        <section class="mb-8 flex flex-col items-center">
            <h2 class="text-3xl font-bold mb-4">Lieux</h2>
            <p><strong>Cinéma Olimpyia</strong></p>
            <p><strong>Square Leclerc</strong> : Projection plein air</p>
        </section>

        <section class="mb-8 flex flex-col items-center">
            <h2 class="text-3xl font-bold mb-4">Transport</h2>
            <p>Train : Gare de Pontarlier, accessible en 10 min</p>
            <p>Parking : Gratuit sur place</p>
        </section>
        
        <section class="mb-8 flex flex-col items-center">
            <h2 class="text-3xl font-bold mb-4">Hébergement</h2>
            <p>Suggestions d’hôtels ou campings proches</p>
        </section>
    </div>
</Layout>
