---
const { ...films } = Astro.props;

---

<div class="border-2 border-[rgba(75,30,133,0.5)] rounded-[1.5em] bg-gradient-to-br from-pink-500 to-pink-100 text-white font-nunito p-[1em] flex justify-center items-center overflow-hidden transition-all duration-300 ease-in-out"
  x-bind:class="view === 'list' ? 'flex-row h-24 w-full' : 'flex-col h-[16em] w-[18em]'">
  <img 
    src={films.affiche_film || "/placeholder.svg"} 
    alt={films.titre_film} 
    x-bind:class="view === 'list' ? 'w-24 h-full mr-4' : 'w-full h-3/4'"
    class="object-cover rounded-t-[1.3em]"
  />
  <h1 x-bind:class="view === 'list' ? 'text-[1.2em]' : 'text-[1.5em]'"
   class="font-medium text-center">
    {films.titre_film}
  </h1>
  <a href={`/offres/${films.id}`} class="text-red-500 underline mt-2">Voir plus</a>
</div>