---
const { ...activity } = Astro.props;
---

<div class="border-2 border-[rgba(75,30,133,0.5)] rounded-[1.5em] bg-gradient-to-br from-pink-500 to-pink-100 text-white font-nunito p-[1em] flex flex-col items-center overflow-hidden transition-all duration-300 ease-in-out w-[14em] h-[20em]">
    
    <div class="w-full h-[12em] overflow-hidden rounded-t-lg flex justify-center items-center">
        <img 
            src={activity.imageUrl} 
            alt={`Image de l'activité ${activity.nom_activite}`} 
            class="w-full h-full object-contain"
        />
    </div>

    <div class="text-center mt-3 px-2">
        <h1 class="text-[1.2em] font-semibold">{activity.nom_activite}</h1>
        <p class="text-gray-500 text-sm">{new Date(activity.date_heure_activite).toLocaleString()}</p>
    </div>

    <a href={`/activite/${activity.id}`} class="text-blue-600 underline mt-auto mb-2">Voir plus</a>
</div>
