---
import Button from '../components/Button.astro';
const currentPath = Astro.url.pathname;
import logo from '../assets/logo3.svg';
---
<header class="top-0 left-0 w-full flex items-center justify-between px-4 gap-8 border-b-2 border-b-gray-200 h-20 bg-white">
  <img src = {logo.src} alt="Logo" class="w-12 h-12" />
  <a href="/" class="flex items-center">
    <div class="text-xl font-bold text-pink-600">
      <span class="block">Festival</span>
      <span class="block">Miaullywood</span>
    </div>
  </a>
  <button
    id="menu-btn"
    class="group relative z-10 flex h-3 w-6 flex-col justify-between lg:hidden *:block *:ease *:h-0.5 *:w-full *:transform *:rounded-full *:bg-black *:transition *:duration-300"
    aria-label="Menu"
    aria-controls="menu"
    aria-expanded="false"
  >
    <span class="group-aria-expanded:translate-y-[5px] group-aria-expanded:rotate-45"></span>
    <span class="group-aria-expanded:-translate-y-[5px] group-aria-expanded:-rotate-45"></span>
  </button>
  <nav 
  id="menu"
  class="no-scroll font-sans flex-1 px-6 py-12 flex justify-between mt-20 flex-col fixed z-10 inset-0 bg-blue-400 transition-opacity duration-300 
  opacity-0 invisible lg:mt-0 lg:flex-row lg:static lg:bg-transparent lg:py-6 lg:opacity-100 lg:visible overflow-x-hidden"
  aria-hidden="true"
>

    <ul class="items-center flex flex-col gap-4 lg:flex-row">
      <li>
        <a class="block p-4 rounded-lg text-rose-700 hover:text-pink-600" href="/">Accueil</a>
      </li>
      <li>
        <a class="block p-4 rounded-lg text-rose-700 hover:text-pink-600" href="/films">Programme</a>
      </li>
      <li>
        <a class="block p-4 rounded-lg text-rose-700 hover:text-pink-600" href="/apropos">À Propos</a>
      </li>
      <li>
        <a class="block p-4 rounded-lg text-rose-700 hover:text-pink-600" href="/invite">Invités</a>
      </li>
      <li>
        <a class="block p-4 rounded-lg text-rose-700 hover:text-pink-600" href="/contact">Contact/FAQ</a>
      </li>
      <li>
        <a class="block p-4 rounded-lg text-rose-700 hover:text-pink-600" href="/info">Info Pratique</a>
      </li>
    </ul>
</header>

<script>
  const toggle = document.querySelector("#menu-btn");
  const nav = document.querySelector("#menu");
  const page = document.body;

  if (toggle && nav) {
    toggle.addEventListener("click", () => {
      const isOpen = toggle.getAttribute("aria-expanded") === "true";
      
      toggle.setAttribute("aria-expanded", String(!isOpen));
      nav.setAttribute("aria-hidden", String(isOpen));

      // Ajout / Suppression des classes pour animation
      if (isOpen) {
        nav.classList.add("opacity-0", "invisible");
      } else {
        nav.classList.remove("opacity-0", "invisible");
      }
      
      page.classList.toggle("noscroll", !isOpen);
    });
  }
</script>

