---
import Logo from '../assets/icons/IconLogo.svg';
const currentPath = Astro.url.pathname;
---

<header class="flex items-center justify-between px-4 gap-8 border-b-2 border-b-rose-200 h-20">
  <!-- Logo -->
  <a href="/">
    <Logo class="h-12 w-12" />
  </a>

  <!-- Bouton Menu Mobile -->
  <button
    id="menu-btn"
    class="group relative z-10 flex h-3 w-6 flex-col justify-between lg:hidden *:block *:ease *:h-0.5 *:w-full *:transform *:rounded-full *:bg-black *:transition *:duration-300"
    aria-label="Menu"
    aria-controls="menu"
    aria-expanded="false"
  >
    <span class="group-aria-expanded:translate-y-[5px] group-aria-expanded:rotate-45"></span>
    <span class="group-aria-expanded:-translate-y-[5px] group-aria-expanded:-rotate-45"></span>
  </button>

  <!-- Navigation -->
  <nav
    id="menu"
    class="flex-1 px-6 py-12 flex justify-between mt-20 flex-col fixed z-10 inset-0 bg-rose-100 visible opacity-100 max-lg:aria-hidden:invisible max-lg:aria-hidden:opacity-0 lg:mt-0 lg:flex-row lg:static lg:bg-transparent lg:py-6 lg:visible lg:opacity-100"
    aria-hidden="true"
  >
    <ul class="flex flex-col gap-4 lg:flex-row">
      <li>
        <a class={`block p-4 rounded-lg text-gray-700 ${currentPath === '/' ? 'text-rose-600 font-bold max-lg:bg-rose-200 max-lg:rounded-lg' : ''}`} href="/">Accueil</a>
      </li>
      <li>
        <a class="block p-4 rounded-lg text-gray-700" href="/programmation">Programmation</a>
      </li>
      <li>
        <a class="block p-4 rounded-lg text-gray-700" href="/infos">Infos Pratiques</a>
      </li>
    </ul>
  </nav>
</header>