---
import Layout from '../../layouts/Layout.astro';
import CardActivite from '../../components/Cardactivite.astro';
import { getActivities } from '../../../backend/backend.mjs';

const activities = await getActivities();
console.log("Données des activités:", activities);
---

<Layout titre="Activités">
    <div class="container mx-auto px-4 mb-10  flex flex-col items-center ">
        <h1 class="text-5xl font-sans text-center mb-8 uppercase">Nos Activités</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 justify-center">
            {activities && activities.map((activity) => (
                <CardActivite {...activity} />
            ))}
        </div>
    </div>
</Layout>

